@charset "UTF-8";

@font-face {
  font-family: "Baya-Din";
  src:url("../../bayaFont/Baya-Din.eot");
  src:url("../../bayaFont/Baya-Din.eot?#iefix") format("embedded-opentype"),
    url("../../bayaFont/Baya-Din.woff") format("woff"),
    url("../../bayaFont/Baya-Din.ttf") format("truetype"),
    url("../../bayaFont/Baya-Din.svg#Baya-Din") format("svg");
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: "ufonts.com_futurabt-book-opentype-webfont";
  src:url("../../bayaFont/ufonts.com_futurabt-book-opentype-webfont.eot");
  src:url("../../bayaFont/ufonts.com_futurabt-book-opentype-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../bayaFont/ufonts.com_futurabt-book-opentype-webfont.woff") format("woff"),
    url("../../bayaFont/ufonts.com_futurabt-book-opentype-webfont.ttf") format("truetype"),
    url("../../bayaFont/ufonts.com_futurabt-book-opentype-webfont.svg#ufonts.com_futurabt-book-opentype-webfont") format("svg");
  font-weight: normal;
  font-style: normal;

}